#:illithid.character.cclass
{:id :cleric
 :name "Cleric"
 :hit-die 8
 :first-level-hit-points 8

 :skill-proficiencies
 #:skill-proficiencies{:available #{:illithid.character.skill/history
                                    :illithid.character.skill/insight
                                    :illithid.character.skill/medicine
                                    :illithid.character.skill/persuasion
                                    :illithid.character.skill/religion}
                       :number 2}

 :saving-throw-proficiencies #{:illithid.character.ability/wis
                               :illithid.character.ability/cha}

 :proficiency-bonuses [2 2 2 2
                       3 3 3 3
                       4 4 4 4
                       5 5 5 5
                       6 6 6 6]}
