#:illithid.character.spell{:description "The spell captures some of the incoming energy, lessening its effect on you and storing it for your next melee attack. You have resistance to the triggering damage type until the start of your next turn. Also, the first time you hit with a melee attack on your next turn, the target takes an extra 1d6 damage of the triggering type, and the spell ends.", :material-component nil, :ritual? false, :school :school/abjuration, :name "Absorb Elements", :duration "1 round", :level 1, :components #{:S}, :id :absorb-elements, :casting-time "1 action", :classes #{:druid :ranger :wizard}, :range "Self"}