{:illithid.character.spell/material-component"A red dragon's scale.", :illithid.character.spell/level 2, :illithid.character.spell/name"Aganazzar's Scorcher", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard}, :illithid.character.spell/description"A line of roaring flame 30 feet long and 5 feet wide emanates from you in a direction you choose. Each creature in the line must make a Dexterity saving throw. A creature takes 3d8 fire damage on a failed save, or half as much damage on a successful one.", :id :aganazzars-scorcher, :illithid.character.spell/range"30 feet", :illithid.character.spell/school :school/evocation}
