#:illithid.character.spell{:description "Your spell bolsters your allies with toughness and resolve. Choose up to three creatures within range. Each target’s hit point maximum and current hit points increase by 5 for the duration.", :material-component "A tiny strip of white cloth.", :ritual? false, :school :school/abjuration, :name "Aid", :duration "8 hours", :level 2, :components #{:M :V :S}, :id :aid, :casting-time "1 action", :classes #{:cleric :paladin}, :range "30 feet"}