{:illithid.character.spell/material-component"A tiny strip of white cloth.", :illithid.character.spell/level 2, :illithid.character.spell/name"Aid", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :paladin}, :illithid.character.spell/description"Your spell bolsters your allies with toughness and resolve. Choose up to three creatures within range. Each target’s hit point maximum and current hit points increase by 5 for the duration.", :id :aid, :illithid.character.spell/range"30 feet", :illithid.character.spell/school :school/abjuration}
