#:illithid.character.spell{:description "A protective magical force surrounds you, manifesting as a spectral frost that covers you and your gear. You gain 5 temporary hit points for the duration. If a creature hits you with a melee attack while you have these hit points, the creature takes 5 cold damage.", :material-component "A cup of water.", :ritual? false, :school :school/abjuration, :name "Armor of Agathys", :duration "1 hour", :level 1, :components #{:M :V :S}, :id :armor-of-agathys, :casting-time "1 action", :classes #{:warlock}, :range "Self"}