{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name"Arms of Hadar", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:warlock}, :illithid.character.spell/description"You invoke the power of Hadar, the Dark Hunger. Tendrils of dark energy erupt from you and batter all creatures within 10 feet of you. Each creature in that area must make a strength saving throw. On a failed save, a target takes 2d6 necrotic damage and can’t take reactions until its next turn. On a successful save, the creature takes half damage, but suffers no other effect.", :id :arms-of-hadar, :illithid.character.spell/range"Self", :illithid.character.spell/school :school/conjuration}
