{:illithid.character.spell/material-component nil, :illithid.character.spell/level 3, :illithid.character.spell/name"Aura of Vitality", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:paladin}, :illithid.character.spell/description"Healing energy radiates from you in an aura with a 30-foot radius. Until the spell ends, the aura moves with you, centered on you. You can use a bonus action to cause one creature in the aura (including you) to regain 2d6 hit points.", :id :aura-of-vitality, :illithid.character.spell/range"Self", :illithid.character.spell/school :school/evocation}
