#:illithid.character.spell{:description "Healing energy radiates from you in an aura with a 30-foot radius. Until the spell ends, the aura moves with you, centered on you. You can use a bonus action to cause one creature in the aura (including you) to regain 2d6 hit points.", :material-component nil, :ritual? false, :school :school/evocation, :name "Aura of Vitality", :duration "Up to 1 minute", :level 3, :components #{:V}, :id :aura-of-vitality, :casting-time "1 action", :classes #{:paladin}, :range "Self"}