#:illithid.character.spell{:description "Purifying energy radiates from you in an aura with a 30-foot radius. Until the spell ends, the aura moves with you, centered on you. Each nonhostile creature in the aura (including you) can’t become diseased, has resistance to poison damage, and has advantage on saving throws against affects that cause any of the following conditions: blinded, charmed, deafened, frightened, paralysed, poisoned and stunned.", :material-component nil, :ritual? false, :school :school/abjuration, :name "Aura of Purity", :duration "Up to 10 minutes", :level 4, :components #{:V}, :id :aura-of-purity, :casting-time "1 action", :classes #{:paladin}, :range "Self"}