{:illithid.character.spell/material-component"A drop of blood.", :illithid.character.spell/level 1, :illithid.character.spell/name"Bane", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :paladin :bard}, :illithid.character.spell/description"Up to three creatures of your choice that you can see within range must make charisma saving throws. Whenever a target that fails this saving throw makes an attack roll or a saving throw before the spell ends, the target must roll a d4 and subtract the number rolled from the attack roll or saving throw.", :id :bane, :illithid.character.spell/range"30 feet", :illithid.character.spell/school :school/enchantment}
