#:illithid.character.spell{:description "Up to three creatures of your choice that you can see within range must make charisma saving throws. Whenever a target that fails this saving throw makes an attack roll or a saving throw before the spell ends, the target must roll a d4 and subtract the number rolled from the attack roll or saving throw.", :material-component "A drop of blood.", :ritual? false, :school :school/enchantment, :name "Bane", :duration "Up to 1 minute", :level 1, :components #{:M :V :S}, :id :bane, :casting-time "1 action", :classes #{:cleric :paladin :bard}, :range "30 feet"}