{:illithid.character.spell/material-component"An item distasteful to the target.", :illithid.character.spell/level 4, :illithid.character.spell/name"Banishment", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :sorcerer :wizard :warlock :paladin}, :illithid.character.spell/description"You attempt to send one creature that you can see within range to another plane of existence. The target must succeed on a charisma saving throw or be banished.

If the target is native to the plane of existence you’re on, you banish the target to a harmless demiplane. While there, the target is incapacitated. The target remains there until the spell ends, at which point the target reappears in the space it left or in the nearest unoccupied space if that space is occupied.

If the target is native to a different plane of existence than the one you’re on, the target is banished with a faint popping noise, returning to its home plane. If the spell ends before 1 minute has passed, the target reappears in the space it left or in the nearest unoccupied space if that space is occupied. Otherwise, the target doesn’t return.", :id :banishment, :illithid.character.spell/range"60 feet", :illithid.character.spell/school :school/abjuration}
