{:illithid.character.spell/material-component "A handful of oak bark.", :illithid.character.spell/level 2, :illithid.character.spell/name "Barkskin", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :ranger}, :illithid.character.spell/description "<p>You touch a willing creature. Until the spell ends, the target's skin has a rough, bark-like appearance, and the target's AC can't be less than 16, regardless of what kind of armor it is wearing.</p>", :id :barkskin, :illithid.character.spell/range "Touch", :illithid.character.spell/school :school/transmutation}