#:illithid.character.spell{:description "You extend your hand and trace a sigil of warding in the air. Until the end of your next turn, you have resistance against bludgeoning, piercing, and slashing damage dealt by weapon attacks.", :material-component nil, :ritual? false, :school :school/abjuration, :name "Blade Ward", :duration "1 round", :level 0, :components #{:V :S}, :id :blade-ward, :casting-time "1 action", :classes #{:sorcerer :wizard :warlock :bard}, :range "Self"}