{:illithid.character.spell/material-component nil, :illithid.character.spell/level 0, :illithid.character.spell/name"Blade Ward", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard :warlock :bard}, :illithid.character.spell/description"You extend your hand and trace a sigil of warding in the air. Until the end of your next turn, you have resistance against bludgeoning, piercing, and slashing damage dealt by weapon attacks.", :id :blade-ward, :illithid.character.spell/range"Self", :illithid.character.spell/school :school/abjuration}
