#:illithid.character.spell{:description "Necromantic energy washes over a creature of your choice that you can see within range, draining moisture and vitality from it. The target must make a constitution saving throw. The target takes 8d8 necrotic damage on a failed save, or half as much damage on a successful one. The spell has no effect on undead or constructs.\n\nIf you target a plant creature or a magical plant, it makes the saving throw with disadvantage, and the spell deals maximum damage to it.\n\nIf you target a nonmagical plant that isn’t a creature, such as a tree or shrub, it doesn’t make a saving throw; it simply withers and dies.", :material-component nil, :ritual? false, :school :school/necromancy, :name "Blight", :duration "Instantaneous", :level 4, :components #{:V :S}, :id :blight, :casting-time "1 action", :classes #{:druid :sorcerer :wizard :warlock}, :range "30 feet"}