{:illithid.character.spell/material-component nil, :illithid.character.spell/level 2, :illithid.character.spell/name "Blindness/Deafness", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :sorcerer :wizard :warlock :bard}, :illithid.character.spell/description "<p>You can blind or deafen a foe. Choose one creature that you can see within range to make a constitution saving throw. If it fails, the target is either blinded or deafened (your choice) for the duration. At the end of each of its turns, the target can make a constitution saving throw. On a success, the spell ends.</p>", :id :blindness-deafness, :illithid.character.spell/range "30 feet", :illithid.character.spell/school :school/necromancy}