#:illithid.character.spell{:description "You can blind or deafen a foe. Choose one creature that you can see within range to make a constitution saving throw. If it fails, the target is either blinded or deafened (your choice) for the duration. At the end of each of its turns, the target can make a constitution saving throw. On a success, the spell ends.", :material-component nil, :ritual? false, :school :school/necromancy, :name "Blindness/Deafness", :duration "1 minute", :level 2, :components #{:V}, :id :blindness-deafness, :casting-time "1 action", :classes #{:cleric :sorcerer :wizard :warlock :bard}, :range "30 feet"}