{:illithid.character.spell/material-component nil, :illithid.character.spell/level 2, :illithid.character.spell/name"Blur", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid :sorcerer :wizard}, :illithid.character.spell/description"Your body becomes blurred, shifting and wavering to all who can see you. For the duration, any creature has disadvantage on attack rolls against you. An attacker is immune to this effect if it doesn’t rely on sight, as with blindsight, or can see through illusions, as with truesight.", :id :blur, :illithid.character.spell/range"Self", :illithid.character.spell/school :school/illusion}
