#:illithid.character.spell{:description "As part of the action used the cast this spell, you must make a melee attack with a weapon against one create within the spell's range otherwise the spell fails. On a hit, the target suffers the attack's normal effects, and it becomes sheathed in booming energy until the start of your next turn. If the target willingly moves before then, it immediately takes 1d8 thunder damage, and the spell ends.\n\nThis spell's damage increases when you reach higher levels. At 5th level, the melee attack deals an extra 1d8 thunder damage to the target, and the damage the target take for moving increases to 2d8. Both damage rolls increase by 1d8 at 11th level and 17th level.", :material-component "A weapon.", :ritual? false, :school :school/evocation, :name "Booming Blade", :duration "1 round", :level 0, :components #{:M :V}, :id :booming-blade, :casting-time "1 action", :classes #{:sorcerer :wizard :warlock}, :range "5 feet"}