{:illithid.character.spell/material-component nil, :illithid.character.spell/level 2, :illithid.character.spell/name"Branding Smite", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time"1 bonus action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:paladin}, :illithid.character.spell/description"The next time you hit a creature with a weapon attack before this spell ends, the weapon gleams with astral radiance as you strike. The attack deals an extra 2d6 radiant damage to the target, which becomes visible if it’s invisible, and the target sheds dim light in a 5-foot radius and can’t become invisible until the spell ends.", :id :branding-smite, :illithid.character.spell/range"Self", :illithid.character.spell/school :school/evocation}
