{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name "Burning Hands", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :sorcerer :wizard :warlock}, :illithid.character.spell/description "<p>As you hold your hands with thumbs touching and fingers spread, a thin sheet of flames shoots forth from your outstretched fingertips. Each creature in a 15-foot cone must make a dexterity saving throw. A creature takes 3d6 fire damage on a failed save, or half as much damage on a successful one.</p><p>The fire ignites any flammable objects in the area that aren’t being worn or carried.</p>", :id :burning-hands, :illithid.character.spell/range "Self", :illithid.character.spell/school :school/evocation}