#:illithid.character.spell{:description "As you hold your hands with thumbs touching and fingers spread, a thin sheet of flames shoots forth from your outstretched fingertips. Each creature in a 15-foot cone must make a dexterity saving throw. A creature takes 3d6 fire damage on a failed save, or half as much damage on a successful one.\n\nThe fire ignites any flammable objects in the area that aren’t being worn or carried.", :material-component nil, :ritual? false, :school :school/evocation, :name "Burning Hands", :duration "Instantaneous", :level 1, :components #{:V :S}, :id :burning-hands, :casting-time "1 action", :classes #{:cleric :sorcerer :wizard :warlock}, :range "Self"}