#:illithid.character.spell{:description "You attempt to charm a humanoid you can see within range. It must make a wisdom saving throw, and does so with advantage if you or your companions are fighting it. If it fails the saving throw, it is charmed by you until the spell ends or until you or your companions do anything harmful to it. The charmed creature regards you as a friendly acquaintance. When the spell ends, the creature knows it was charmed by you.", :material-component nil, :ritual? false, :school :school/enchantment, :name "Charm Person", :duration "1 hour", :level 1, :components #{:V :S}, :id :charm-person, :casting-time "1 action", :classes #{:cleric :druid :sorcerer :wizard :warlock :bard}, :range "30 feet"}