{:illithid.character.spell/material-component"A diamond worth at least 50gp.", :illithid.character.spell/level 1, :illithid.character.spell/name"Chromatic Orb", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard}, :illithid.character.spell/description"You hurl a 4-inch-diameter sphere of energy at a creature that you can see within range. You choose acid, cold, fire, lightning, poison, or thunder for the type of orb you create, and then make a ranged spell attack against the target. If the attack hits, the creature takes 3d8 of the type you chose.", :id :chromatic-orb, :illithid.character.spell/range"90 feet", :illithid.character.spell/school :school/evocation}
