#:illithid.character.spell{:description "You hurl a 4-inch-diameter sphere of energy at a creature that you can see within range. You choose acid, cold, fire, lightning, poison, or thunder for the type of orb you create, and then make a ranged spell attack against the target. If the attack hits, the creature takes 3d8 of the type you chose.", :material-component "A diamond worth at least 50gp.", :ritual? false, :school :school/evocation, :name "Chromatic Orb", :duration "Instantaneous", :level 1, :components #{:M :V :S}, :id :chromatic-orb, :casting-time "1 action", :classes #{:sorcerer :wizard}, :range "90 feet"}