#:illithid.character.spell{:description "A sphere of negative energy ripples out in a 60-footradius sphere from a point within range. Each creature in that area must make a constitution saving throw. A target takes 8d6 necrotic damage on a failed save, or half as much damage on a successful one.", :material-component "The powder of a crushed black pearl worth at least 500 gp.", :ritual? false, :school :school/necromancy, :name "Circle of Death", :duration "Instantaneous", :level 6, :components #{:M :V :S}, :id :circle-of-death, :casting-time "1 action", :classes #{:sorcerer :wizard :warlock}, :range "150 feet"}