#:illithid.character.spell{:description "You fill the air with spinning daggers in a cube 5 feet on each side, centered on a point you choose within range. A creature takes 4d4 slashing damage when it enters the spell’s area for the first time on a turn or starts its turn there.", :material-component "A sliver of glass.", :ritual? false, :school :school/conjuration, :name "Cloud of Daggers", :duration "Up to 1 minute", :level 2, :components #{:M :V :S}, :id :cloud-of-daggers, :casting-time "1 action", :classes #{:sorcerer :wizard :warlock :bard}, :range "60 feet"}