#:illithid.character.spell{:description "For the duration, you understand the literal meaning of any spoken language that you hear. You also understand any written language that you see, but you must be touching the surface on which the words are written. It takes about 1 minute to read one page of text.\n\nThis spell doesn’t decode secret messages in a text or a glyph, such as an arcane sigil, that isn’t part of a written language.", :material-component "A pinch of soot and salt.", :ritual? true, :school :school/divination, :name "Comprehend Languages", :duration "1 hour", :level 1, :components #{:M :V :S}, :id :comprehend-languages, :casting-time "1 action", :classes #{:sorcerer :ritual-caster :wizard :warlock :bard}, :range "Self"}