{:illithid.character.spell/material-component"A small crystal or glass cone.", :illithid.character.spell/level 5, :illithid.character.spell/name"Cone of Cold", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid :sorcerer :wizard}, :illithid.character.spell/description"A blast of cold air erupts from your hands. Each creature in a 60-foot cone must make a constitution saving throw. A creature takes 8d8 cold damage on a failed save, or half as much damage on a successful one.

A creature killed by this spell becomes a frozen statue until it thaws.", :id :cone-of-cold, :illithid.character.spell/range"Self", :illithid.character.spell/school :school/evocation}
