{:illithid.character.spell/material-component"Three walnut shells.", :illithid.character.spell/level 4, :illithid.character.spell/name"Confusion", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :sorcerer :wizard :bard}, :illithid.character.spell/description"This spell assails and distorts the minds of creatures, generating illusions and causing uncontrolled actions. Each creature in a sphere of 10-foot-radius centered on a point chosen in the range of the spell must make a wisdom saving throw otherwise it will be affected by the spell.

An affected target can react and it must start at the beginning of 1d10 each of his game rounds to determine its behavior for that round.

At the end of each turn, an affected creature can make a saving throw of Wisdom. If successful, the effect of the spell ends for this target.", :id :confusion, :illithid.character.spell/range"90 feet", :illithid.character.spell/school :school/enchantment}
