#:illithid.character.spell{:description "You throw a nonmagical weapon or fire a piece of nonmagical ammunition into the air to create a cone of identical weapons that shoot forward and then disappear. Each creature in a 60-foot cone must succeed on a dexterity saving throw. A creature takes 3d8 damage on a failed save, or half as much damage on a successful one. The damage type is the same as that of the weapon or ammunition used as a component.", :material-component "One piece of ammunition or a thrown weapon.", :ritual? false, :school :school/conjuration, :name "Conjure Barrage", :duration "Instantaneous", :level 3, :components #{:M :V :S}, :id :conjure-barrage, :casting-time "1 action", :classes #{:ranger}, :range "Self"}