{:illithid.character.spell/material-component"Ruby dust worth 50 gp, which the spell consumes.", :illithid.character.spell/level 2, :illithid.character.spell/name"Continual Flame", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :wizard}, :illithid.character.spell/description"A flame, equivalent in brightness to a torch, springs forth from an object that you touch. The effect looks like a regular flame, but it creates no heat and doesn't use oxygen. A continual flame can be covered or hidden but not smothered or quenched.", :id :continual-flame, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/evocation}
