{:illithid.character.spell/material-component nil, :illithid.character.spell/level 3, :illithid.character.spell/name"Counterspell", :illithid.character.spell/components #{:S}, :illithid.character.spell/casting_time"1 reaction", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard :warlock}, :illithid.character.spell/description"You attempt to interrupt a creature in the process of casting a spell. If the creature is casting a spell of 3rd level or lower, its spell fails and has no effect. If it is casting a spell of 4th level or higher, make an ability check using your spellcasting ability. The DC equals 10 + the spell’s level. On a success, the creature’s spell fails and has no effect.", :id :counterspell, :illithid.character.spell/range"60 feet", :illithid.character.spell/school :school/abjuration}
