#:illithid.character.spell{:description "You attempt to interrupt a creature in the process of casting a spell. If the creature is casting a spell of 3rd level or lower, its spell fails and has no effect. If it is casting a spell of 4th level or higher, make an ability check using your spellcasting ability. The DC equals 10 + the spell’s level. On a success, the creature’s spell fails and has no effect.", :material-component nil, :ritual? false, :school :school/abjuration, :name "Counterspell", :duration "Instantaneous", :level 3, :components #{:S}, :id :counterspell, :casting-time "1 reaction", :classes #{:sorcerer :wizard :warlock}, :range "60 feet"}