{:illithid.character.spell/material-component nil, :illithid.character.spell/level 3, :illithid.character.spell/name "Create Food and Water", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :paladin}, :illithid.character.spell/description "<p>You create 45 pounds of food and 30 gallons of water on the ground or in containers within range, enough to sustain up to fifteen humanoids or five steeds for 24 hours. The food is bland but nourishing, and spoils if uneaten after 24 hours. The water is clean and doesn’t go bad.</p>", :id :create-food-and-water, :illithid.character.spell/range "30 feet", :illithid.character.spell/school :school/conjuration}