{:illithid.character.spell/material-component"A drop of water if creating water, or a few grains of sand if destroying it.", :illithid.character.spell/level 1, :illithid.character.spell/name"Create or Destroy Water", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid}, :illithid.character.spell/description"You either create or destroy water.

Create Water. You create up to 10 gallons of clean water within range in an open container. Alternatively, the water falls as rain in a 30-foot cube within range.

Destroy Water. You destroy up to 10 gallons of water in an open container within range. Alternatively, you destroy fog in a 30-foot cube within range.", :id :create-or-destroy-water, :illithid.character.spell/range"30 feet", :illithid.character.spell/school :school/transmutation}
