{:illithid.character.spell/material-component nil, :illithid.character.spell/level 3, :illithid.character.spell/name "Crusader's Mantle", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :paladin}, :illithid.character.spell/description "<p>Holy power radiates from you in an aura with a 30-foot radius, awakening boldness in friendly creatures. Until the spell ends, the aura moves with you, centered on you. While in the aura, each nonhostile creature in the aura (including you) deals an extra 1d4 radiant damage when it hits with a weapon attack.</p>", :id :crusaders-mantle, :illithid.character.spell/range "Self", :illithid.character.spell/school :school/evocation}