#:illithid.character.spell{:description "A creature you touch regains a number of hit points equal to 1d8 + your spellcasting ability modifier. This spell has no effect on undead or constructs.", :material-component nil, :ritual? false, :school :school/evocation, :name "Cure Wounds", :duration "Instantaneous", :level 1, :components #{:V :S}, :id :cure-wounds, :casting-time "1 action", :classes #{:cleric :druid :ranger :paladin :bard}, :range "Touch"}