{:illithid.character.spell/material-component"A bit of phosphorus or wychwood, or a glowworm.", :illithid.character.spell/level 0, :illithid.character.spell/name"Dancing Lights", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard :bard}, :illithid.character.spell/description"You create up to four torch-sized lights within range, making them appear as torches, lanterns, or glowing orbs that hover in the air for the duration. You can also combine the four lights into one glowing vaguely humanoid form of Medium size. Whichever form you choose, each light sheds dim light in a 10-foot radius.

As a bonus action on your turn, you can move the lights up to 60 feet to a new spot within range. A light must be within 20 feet of another light created by this spell, and a light winks out if it exceeds the spell’s range.", :id :dancing-lights, :illithid.character.spell/range"120 feet", :illithid.character.spell/school :school/evocation}
