{:illithid.character.spell/material-component "Either a pinch of dried carrot or an agate.", :illithid.character.spell/level 2, :illithid.character.spell/name "Darkvision", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid :ranger :sorcerer :wizard}, :illithid.character.spell/description "<p>You touch a willing creature to grant it the ability to see in the dark. For the duration, that creature has darkvision out to a range of 60 feet.</p>", :id :darkvision, :illithid.character.spell/range "Touch", :illithid.character.spell/school :school/transmutation}