#:illithid.character.spell{:description "You strike the ground, creating a burst of divine energy that ripples outward from you. Each creature you choose within 30 feet of you must succeed on a constitution saving throw or take 5d6 thunder damage, as well as 5d6 radiant or necrotic damage (your choice), and be knocked prone. A creature that succeeds on its saving throw takes half as much damage and isn’t knocked prone.", :material-component nil, :ritual? false, :school :school/evocation, :name "Destructive Wave", :duration "Instantaneous", :level 5, :components #{:V}, :id :destructive-wave, :casting-time "1 action", :classes #{:cleric :paladin}, :range "Self"}