{:illithid.character.spell/material-component"A yew leaf.", :illithid.character.spell/level 1, :illithid.character.spell/name"Detect Poison and Disease", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual true, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :ranger :ritual-caster :paladin}, :illithid.character.spell/description"For the duration, you can sense the presence and location of poisons, poisonous creatures, and diseases within 30 feet of you. You also identify the kind of poison, poisonous creature, or disease in each case.

The spell can penetrate most barriers, but it is blocked by 1 foot of stone, 1 inch of common metal, a thin sheet of lead, or 3 feet of wood or dirt.", :id :detect-poison-and-disease, :illithid.character.spell/range"Self", :illithid.character.spell/school :school/divination}
