#:illithid.character.spell{:description "Choose one creature, object, or magical effect within range. Any spell of 3rd level or lower on the target ends. For each spell of 4th level or higher on the target, make an ability check using your spellcasting ability. The DC equals 10 + the spell’s level. On a successful check, the spell ends.", :material-component nil, :ritual? false, :school :school/abjuration, :name "Dispel Magic", :duration "Instantaneous", :level 3, :components #{:V :S}, :id :dispel-magic, :casting-time "1 action", :classes #{:cleric :druid :sorcerer :wizard :warlock :paladin :bard}, :range "120 feet"}