{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name "Divine Favor", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 bonus action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :paladin}, :illithid.character.spell/description "<p>Your prayer empowers you with divine radiance. Until the spell ends, your weapon attacks deal an extra 1d4 radiant damage on a hit.</p>", :id :divine-favor, :illithid.character.spell/range "Self", :illithid.character.spell/school :school/evocation}