#:illithid.character.spell{:description "You cause a tremor in the ground in a 10-foot radius. Each creature other than you in that area must make a Dexterity saving throw. On a failed save, a creature takes 1d6 bludgeoning damage and is knocked prone. If the ground in that area is loose earth or stone, it becomes difficult terrain until cleared.", :material-component nil, :ritual? false, :school :school/evocation, :name "Earth Tremor", :duration "Instantaneous", :level 1, :components #{:V :S}, :id :earth-tremor, :casting-time "1 action", :classes #{:druid :sorcerer :wizard :bard}, :range "Self (10-foot radius)"}