#:illithid.character.spell{:description "A beam of crackling energy streaks toward a creature within range. Make a ranged spell attack against the target. On a hit, the target takes 1d10 force damage.\n\nThe spell creates more than one beam when you reach higher levels: two beams at 5th level, three beams at 11th level, and four beams at 17th level. You can direct the beams at the same target or at different ones. Make a separate attack roll for each beam.", :material-component nil, :ritual? false, :school :school/evocation, :name "Eldritch Blast", :duration "Instantaneous", :level 0, :components #{:V :S}, :id :eldritch-blast, :casting-time "1 action", :classes #{:warlock}, :range "120 feet"}