{:illithid.character.spell/material-component nil, :illithid.character.spell/level 4, :illithid.character.spell/name "Elemental Bane", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid :wizard :warlock}, :illithid.character.spell/description "<p>Choose one creature you can see within range, and choose one of the following damage types: acid, cold, fire, lightning, or thunder. The target must succeed on a Constitution saving throw or be affected by the spell for its duration. The first time each turn the affected target takes damage of the chosen type, the target takes an extra 2d6 damage of that type. Moreover, the target loses any resistance to that damage type until the spell ends.</p>", :id :elemental-bane, :illithid.character.spell/range "90 feet", :illithid.character.spell/school :school/transmutation}