#:illithid.character.spell{:description "A nonmagical weapon you touch becomes a magic weapon. Choose one of the following damage types: acid, cold, fire, lightning, or thunder. For the duration, the weapon has a +1 bonus to attack rolls and deals an extra 1d4 damage of the chosen type when it hits.", :material-component nil, :ritual? false, :school :school/transmutation, :name "Elemental Weapon", :duration "Up to 1 hour", :level 3, :components #{:V :S}, :id :elemental-weapon, :casting-time "1 action", :classes #{:paladin}, :range "Touch"}