{:illithid.character.spell/material-component nil, :illithid.character.spell/level 3, :illithid.character.spell/name"Elemental Weapon", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:paladin}, :illithid.character.spell/description"A nonmagical weapon you touch becomes a magic weapon. Choose one of the following damage types: acid, cold, fire, lightning, or thunder. For the duration, the weapon has a +1 bonus to attack rolls and deals an extra 1d4 damage of the chosen type when it hits.", :id :elemental-weapon, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/transmutation}
