{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name "Expeditious Retreat", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 bonus action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard :warlock}, :illithid.character.spell/description "<p>This spell allows you to move at an incredible pace. When you cast this spell, and then as a bonus action on each of your turns until the spell ends, you can take the Dash action.</p>", :id :expeditious-retreat, :illithid.character.spell/range "Self", :illithid.character.spell/school :school/transmutation}