#:illithid.character.spell{:description "Bolstering yourself with a necromantic facsimile of life, you gain 1d4 + 4 temporary hit points for the duration.", :material-component "A small amount of alcohol or distilled spirits.", :ritual? false, :school :school/necromancy, :name "False Life", :duration "1 hour", :level 1, :components #{:M :V :S}, :id :false-life, :casting-time "1 action", :classes #{:sorcerer :wizard}, :range "Self"}