{:illithid.character.spell/material-component nil, :illithid.character.spell/level 0, :illithid.character.spell/name "Fire Bolt", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard}, :illithid.character.spell/description "<p>You hurl a mote of fire at a creature or object within range. Make a ranged spell attack against the target. On a hit, the target takes 1d10 fire damage. A flammable object hit by this spell ignites if it isn’t being worn or carried.</p><p>This spell’s damage increases by 1d10 when you reach 5th level (2d10), 11th level (3d10), and 17th level (4d10).</p>", :id :fire-bolt, :illithid.character.spell/range "120 feet", :illithid.character.spell/school :school/evocation}