#:illithid.character.spell{:description "A bright streak flashes from your pointing finger to a point you choose within range and then blossoms with a low roar into an explosion of flame. Each creature in a 20-foot-radius sphere centered on that point must make a dexterity saving throw. A target takes 8d6 fire damage on a failed save, or half as much damage on a successful one.\n\nThe fire spreads around corners. It ignites flammable objects in the area that aren’t being worn or carried.", :material-component "A tiny ball of bat guano and sulfur.", :ritual? false, :school :school/evocation, :name "Fireball", :duration "Instantaneous", :level 3, :components #{:M :V :S}, :id :fireball, :casting-time "1 action", :classes #{:cleric :sorcerer :wizard :warlock}, :range "150 feet"}