#:illithid.character.spell{:description "Thin and vaporous flame surround your body for the duration of the spell, radiating a bright light bright light in a 10-foot radius and dim light for an additional 10 feet. You can end the spell using an action to make it disappear.\n\nThe flames are around you a heat shield or cold, your choice. The heat shield gives you cold damage resistance and the cold resistance to fire damage.\n\nIn addition, whenever a creature within 5 feet of you hits you with a melee attack, flames spring from the shield. The attacker then suffers 2d8 points of fire damage or cold, depending on the model.", :material-component "A little phosphorus or a firefly.", :ritual? false, :school :school/evocation, :name "Fire Shield", :duration "10 minutes", :level 4, :components #{:M :V :S}, :id :fire-shield, :casting-time "1 action", :classes #{:wizard :warlock}, :range "Self"}