{:illithid.character.spell/material-component"Pinch of sulfur.", :illithid.character.spell/level 5, :illithid.character.spell/name"Flame Strike", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :warlock :paladin}, :illithid.character.spell/description"A vertical column of divine fire roars down from the heavens in a location you specify. Each creature in a 10-foot-radius, 40-foot-high cylinder centered on a point within range must make a dexterity saving throw. A creature takes 4d6 fire damage and 4d6 radiant damage on a failed save, or half as much damage on a successful one.", :id :flame-strike, :illithid.character.spell/range"60 feet", :illithid.character.spell/school :school/evocation}
