{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name"Fog Cloud", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :ranger :sorcerer :wizard}, :illithid.character.spell/description"You create a 20-foot-radius sphere of fog centered on a point within range. The sphere spreads around corners, and its area is heavily obscured. It lasts for the duration or until a wind of moderate or greater speed (at least 10 miles per hour) disperses it.", :id :fog-cloud, :illithid.character.spell/range"120 feet", :illithid.character.spell/school :school/conjuration}
