#:illithid.character.spell{:description "For the duration, you have advantage on all Charisma checks directed at one creature of your choice that isn’t hostile toward you. When the spell ends, the creature realizes that you have used magic to influence its mood and becomes hostile toward you. A creature prone to violence might attack you. Another creature might seek retribution in other ways (at the DM’s discretion), depending on the nature of your interaction with it.", :material-component "A small amount of makeup applied to the face as this spell is cast.", :ritual? false, :school :school/enchantment, :name "Friends", :duration "Up to 1 minute", :level 0, :components #{:M :S}, :id :friends, :casting-time "1 action", :classes #{:sorcerer :wizard :warlock :bard}, :range "Self"}