{:illithid.character.spell/material-component nil, :illithid.character.spell/level 0, :illithid.character.spell/name "Frostbite", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid :sorcerer :wizard :warlock}, :illithid.character.spell/description "<p>You cause numbing frost to form on one creature that you can see within range. The target must make a Constitution saving throw. On a failed save, the target takes 1d6 cold damage, and it has disadvantage on the next weapon attack roll it makes before the end of its next turn.</p><p>The spell's damage increases by 1d6 when you reach 5th level (2d6), 11th level (3d6), and 17th level (4d6).</p>", :id :frostbite, :illithid.character.spell/range "60 feet", :illithid.character.spell/school :school/evocation}