#:illithid.character.spell{:description "You touch a corpse or other remains. For the duration, the target is protected from decay and can’t become undead.\n\nThe spell also effectively extends the time limit on raising the target from the dead, since days spent under the influence of this spell don’t count against the time limit of spells such as raise dead.", :material-component "A pinch of salt and one copper piece placed on each of the corpse’s eyes, which must remain there for the duration.", :ritual? true, :school :school/necromancy, :name "Gentle Repose", :duration "10 days", :level 2, :components #{:M :V :S}, :id :gentle-repose, :casting-time "1 action", :classes #{:cleric :ritual-caster :wizard}, :range "Touch"}