{:illithid.character.spell/material-component nil, :illithid.character.spell/level 4, :illithid.character.spell/name"Greater Invisibility", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid :sorcerer :wizard :warlock :bard}, :illithid.character.spell/description"You or a creature you touch becomes invisible until the spell ends. Anything the target is wearing or carrying is invisible as long as it is on the target’s person.", :id :greater-invisibility, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/illusion}
