{:illithid.character.spell/material-component"Diamond dust worth at least 100gp, which the spell consumes.", :illithid.character.spell/level 5, :illithid.character.spell/name"Greater Restoration", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :bard}, :illithid.character.spell/description"You imbue a creature you touch with positive energy to undo a debilitating effect. You can reduce the target’s exhaustion level by one, or end one of the following effects on the target:

- One effect that charmed or petrified the target

- One curse, including the target’s attunement to a cursed magic item

- Any reduction to one of the target’s ability scores

- One effect reducing the target’s hit point maximum", :id :greater-restoration, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/abjuration}
