#:illithid.character.spell{:description "You or a creature you touch becomes invisible until the spell ends. Anything the target is wearing or carrying is invisible as long as it is on the target’s person.", :material-component nil, :ritual? false, :school :school/illusion, :name "Greater Invisibility", :duration "Up to 1 minute", :level 4, :components #{:V :S}, :id :greater-invisibility, :casting-time "1 action", :classes #{:druid :sorcerer :wizard :warlock :bard}, :range "Touch"}