{:illithid.character.spell/material-component nil, :illithid.character.spell/level 4, :illithid.character.spell/name"Guardian of Faith", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :paladin}, :illithid.character.spell/description"A Large spectral guardian appears and hovers for the duration in an unoccupied space of your choice that you can see within range. The guardian occupies that space and is indistinct except for a gleaming sword and shield emblazoned with the symbol of your deity.

Any creature hostile to you that moves to a space within 10 feet of the guardian for the first time on a turn must succeed on a dexterity saving throw. The creature takes 20 radiant damage on a failed save, or half as much damage on a successful one. The guardian vanishes when it has dealt a total of 60 damage.", :id :guardian-of-faith, :illithid.character.spell/range"30 feet", :illithid.character.spell/school :school/conjuration}
