#:illithid.character.spell{:description "You touch one willing creature. Once before the spell ends, the target can roll a d4 and add the number rolled to one ability check of its choice. It can roll the die before or after making the ability check. The spell then ends.", :material-component nil, :ritual? false, :school :school/divination, :name "Guidance", :duration "Up to 1 minute", :level 0, :components #{:V :S}, :id :guidance, :casting-time "1 action", :classes #{:cleric :druid}, :range "Touch"}