{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name"Hail of Thorns", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time"1 bonus action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:ranger}, :illithid.character.spell/description"The next time you hit a creature with a ranged weapon attack before this spell ends, this spell creates a rain of thorns that sprouts from your ranged weapon or ammunition. In addition to the normal effects of the attack, the target of the attack and each creature within 5 feet of it must make a dexterity saving throw. A creature takes 1d10 piercing damage on a failed save, or half as much damage on a successful one.", :id :hail-of-thorns, :illithid.character.spell/range"Self", :illithid.character.spell/school :school/conjuration}
