{:illithid.character.spell/material-component"A shaving of licorice root.", :illithid.character.spell/level 3, :illithid.character.spell/name"Haste", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid :sorcerer :wizard :paladin}, :illithid.character.spell/description"Choose a willing creature that you can see within range. Until the spell ends, the target’s speed is doubled, it gains a +2 bonus to AC, it has advantage on dexterity saving throws, and it gains an additional action on each of its turns. That action can be used only to take the Attack (one weapon attack only), Dash, Disengage, Hide, or Use an Object action.

When the spell ends, the target can’t move or take actions until after its next turn, as a wave of lethargy sweeps over it.", :id :haste, :illithid.character.spell/range"30 feet", :illithid.character.spell/school :school/transmutation}
