#:illithid.character.spell{:description "A creature of your choice that you can see within range regains hit points equal to 1d4 + your spellcasting ability modifier. This spell has no effect on undead or constructs.", :material-component nil, :ritual? false, :school :school/evocation, :name "Healing Word", :duration "Instantaneous", :level 1, :components #{:V}, :id :healing-word, :casting-time "1 bonus action", :classes #{:cleric :druid :bard}, :range "60 feet"}