{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name"Healing Word", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time"1 bonus action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :bard}, :illithid.character.spell/description"A creature of your choice that you can see within range regains hit points equal to 1d4 + your spellcasting ability modifier. This spell has no effect on undead or constructs.", :id :healing-word, :illithid.character.spell/range"60 feet", :illithid.character.spell/school :school/evocation}
