#:illithid.character.spell{:description "Choose a creature that you can see within range. A surge of positive energy washes through the creature, causing it to regain 70 hit points. This spell also ends blindness, deafness, and any diseases affecting the target. This spell has no effect on constructs or undead.", :material-component nil, :ritual? false, :school :school/evocation, :name "Heal", :duration "Instantaneous", :level 6, :components #{:V :S}, :id :heal, :casting-time "1 action", :classes #{:cleric :druid}, :range "60 feet"}