#:illithid.character.spell{:description "You point your finger, and the creature that damaged you is momentarily surrounded by hellish flames. The creature must make a dexterity saving throw. It takes 2d10 fire damage on a failed save, or half as much damage on a successful one.", :material-component nil, :ritual? false, :school :school/evocation, :name "Hellish Rebuke", :duration "Instantaneous", :level 1, :components #{:V :S}, :id :hellish-rebuke, :casting-time "1 reaction", :classes #{:warlock}, :range "60 feet"}