{:illithid.character.spell/material-component "A small piece of iron.", :illithid.character.spell/level 5, :illithid.character.spell/name "Hold Monster", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :sorcerer :wizard :warlock :paladin :bard}, :illithid.character.spell/description "<p>Choose a creature you can see and reach. The target must make a saving throw of Wisdom or be paralyzed for the duration of the spell. This spell has no effect against the undead. At the end of each round, the target can make a new saving throw of Wisdom. If successful, the spell ends for the creature.</p>", :id :hold-monster, :illithid.character.spell/range "90 feet", :illithid.character.spell/school :school/enchantment}