#:illithid.character.spell{:description "Choose a humanoid that you can see within range. The target must succeed on a wisdom saving throw or be paralyzed for the duration. At the end of each of its turns, the target can make another wisdom saving throw. On a success, the spell ends on the target.", :material-component "A small, straight piece of iron.", :ritual? false, :school :school/enchantment, :name "Hold Person", :duration "Up to 1 minute", :level 2, :components #{:M :V :S}, :id :hold-person, :casting-time "1 action", :classes #{:cleric :druid :sorcerer :wizard :warlock :paladin :bard}, :range "60 feet"}