{:illithid.character.spell/material-component"A pickled octopus tentacle.", :illithid.character.spell/level 3, :illithid.character.spell/name"Hunger of Hadar", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:warlock}, :illithid.character.spell/description"You open a gateway to the dark between the stars, a region infested with unknown horrors. A 20-foot-radius sphere of blackness and bitter cold appears, centered on a point with range and lasting for the duration. This void is filled with a cacophony of soft whispers and slurping noises that can be heard up to 30 feet away. No light, magical or otherwise, can illuminate the area, and creatures fully within the area are blinded.

The void creates a warp in the fabric of space, and the area is difficult terrain. Any creature that starts its turn in the area takes 2d6 cold damage. Any creature that ends its turn in the area must succeed on a dexterity saving throw or take 2d6 acid damage as milky, otherworldly tentacles rub against it.", :id :hunger-of-hadar, :illithid.character.spell/range"150 feet", :illithid.character.spell/school :school/conjuration}
