{:illithid.character.spell/material-component"A glowing stick of incense or a crystal vial filled with phosphorescent material.", :illithid.character.spell/level 3, :illithid.character.spell/name"Hypnotic Pattern", :illithid.character.spell/components #{:M :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard :warlock :bard}, :illithid.character.spell/description"You create a twisting pattern of colors that weaves through the air inside a 30-foot cube within range. The pattern appears for a moment and vanishes. Each creature in the area who sees the pattern must make a wisdom saving throw. On a failed save, the creature becomes charmed for the duration. While charmed by this spell, the creature is incapacitated and has a speed of 0.

The spell ends for an affected creature if it takes any damage or if someone else uses an action to shake the creature out of its stupor.", :id :hypnotic-pattern, :illithid.character.spell/range"120 feet", :illithid.character.spell/school :school/illusion}
