#:illithid.character.spell{:description "A hail of rock-hard ice pounds to the ground in a 20-foot-radius, 40-foot-high cylinder centered on a point within range. Each creature in the cylinder must make a dexterity saving throw. A creature takes 2d8 bludgeoning damage and 4d6 cold damage on a failed save, or half as much damage on a successful one.\n\nHailstones turn the storm’s area of effect into difficult terrain until the end of your next turn.", :material-component "A pinch of dust and a few drops of water.", :ritual? false, :school :school/evocation, :name "Ice Storm", :duration "Instantaneous", :level 4, :components #{:M :V :S}, :id :ice-storm, :casting-time "1 action", :classes #{:cleric :druid :sorcerer :wizard :paladin}, :range "300 feet"}