#:illithid.character.spell{:description "You create a shard of ice and fling it at one creature within range. Make a ranged spell attack against the target. On a hit, the target takes 1d10 piercing damage. Hit or miss, the shard then explodes. The target and each creature within 5 feet of the point where the ice exploded must succeed on a Dexterity saving throw or take 2d6 cold damage.", :material-component "A drop of water or piece of ice.", :ritual? false, :school :school/conjuration, :name "Ice Knife", :duration "Instantaneous", :level 1, :components #{:M :S}, :id :ice-knife, :casting-time "1 action", :classes #{:druid :sorcerer :wizard}, :range "60 feet"}