{:illithid.character.spell/material-component"A pinch of dust and a few drops of water.", :illithid.character.spell/level 4, :illithid.character.spell/name"Ice Storm", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :sorcerer :wizard :paladin}, :illithid.character.spell/description"A hail of rock-hard ice pounds to the ground in a 20-foot-radius, 40-foot-high cylinder centered on a point within range. Each creature in the cylinder must make a dexterity saving throw. A creature takes 2d8 bludgeoning damage and 4d6 cold damage on a failed save, or half as much damage on a successful one.

Hailstones turn the storm’s area of effect into difficult terrain until the end of your next turn.", :id :ice-storm, :illithid.character.spell/range"300 feet", :illithid.character.spell/school :school/evocation}
