#:illithid.character.spell{:description "You choose one object that you must touch throughout the casting of the spell. If it is a magic item or some other magic-imbued object, you learn its properties and how to use them, whether it requires attunement to use, and how many charges it has, if any. You learn whether any spells are affecting the item and what they are. If the item was created by a spell, you learn which spell created it.\n\nIf you instead touch a creature throughout the casting, you learn what spells, if any, are currently affecting it.", :material-component "A pearl worth at least 100gp and an owl feather.", :ritual? true, :school :school/divination, :name "Identify", :duration "Instantaneous", :level 1, :components #{:M :V :S}, :id :identify, :casting-time "1 minute", :classes #{:cleric :ritual-caster :wizard :bard}, :range "Touch"}