#:illithid.character.spell{:description "Make a melee spell attack against a creature you can reach. On a hit, the target takes 3d10 necrotic damage.", :material-component nil, :ritual? false, :school :school/necromancy, :name "Inflict Wounds", :duration "Instantaneous", :level 1, :components #{:V :S}, :id :inflict-wounds, :casting-time "1 action", :classes #{:cleric}, :range "Touch"}