{:illithid.character.spell/material-component"A few grains of sugar, some kernels of grain, and a smear of fat.", :illithid.character.spell/level 5, :illithid.character.spell/name"Insect Plague", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :sorcerer}, :illithid.character.spell/description"Swarming, biting locusts fill a 20-foot-radius sphere centered on a point you choose within range. The sphere spreads around corners. The sphere remains for the duration, and its area is lightly obscured. The sphere's area is difficult terrain.

When the area appears, each creature in it must make a constitution saving throw. A creature takes 4d10 piercing damage on a failed save, or half as much damage on a successful one. A creature must also make this saving throw when it enters the spell's area for the first time on a turn or ends its turn there.", :id :insect-plague, :illithid.character.spell/range"300 feet", :illithid.character.spell/school :school/conjuration}
