#:illithid.character.spell{:description "A creature you touch becomes invisible until the spell ends. Anything the target is wearing or carrying is invisible as long as it is on the target’s person. The spell ends for a target that attacks or casts a spell.", :material-component "An eyelash encased in gum arabic.", :ritual? false, :school :school/illusion, :name "Invisibility", :duration "Up to 1 hour", :level 2, :components #{:M :V :S}, :id :invisibility, :casting-time "1 action", :classes #{:druid :sorcerer :wizard :warlock :bard}, :range "Touch"}