#:illithid.character.spell{:description "You touch a creature. The creature’s jump distance is tripled until the spell ends.", :material-component "A grasshopper’s hind leg.", :ritual? false, :school :school/transmutation, :name "Jump", :duration "1 minute", :level 1, :components #{:M :V :S}, :id :jump, :casting-time "1 action", :classes #{:druid :ranger :sorcerer :wizard}, :range "Touch"}