{:illithid.character.spell/material-component nil, :illithid.character.spell/level 2, :illithid.character.spell/name"Lesser Restoration", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :ranger :paladin :bard}, :illithid.character.spell/description"You touch a creature and can end either one disease or one condition afflicting it. The condition can be blinded, deafened, paralyzed, or poisoned.", :id :lesser-restoration, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/abjuration}
