#:illithid.character.spell{:description "You touch a creature and can end either one disease or one condition afflicting it. The condition can be blinded, deafened, paralyzed, or poisoned.", :material-component nil, :ritual? false, :school :school/abjuration, :name "Lesser Restoration", :duration "Instantaneous", :level 2, :components #{:V :S}, :id :lesser-restoration, :casting-time "1 action", :classes #{:cleric :druid :ranger :paladin :bard}, :range "Touch"}