{:illithid.character.spell/material-component"A firefly or phosphorescent moss.", :illithid.character.spell/level 0, :illithid.character.spell/name"Light", :illithid.character.spell/components #{:M :V}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :sorcerer :wizard :bard}, :illithid.character.spell/description"You touch one object that is no larger than 10 feet in any dimension. Until the spell ends, the object sheds bright light in a 20-foot radius and dim light for an additional 20 feet. The light can be colored as you like. Completely covering the object with something opaque blocks the light. The spell ends if you cast it again or dismiss it as an action.

If you target an object held or worn by a hostile creature, that creature must succeed on a dexterity saving throw to avoid the spell.", :id :light, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/evocation}
