{:illithid.character.spell/material-component "A bit of fur and a rod of amber, crystal, or glass.", :illithid.character.spell/level 3, :illithid.character.spell/name "Lightning Bolt", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid :sorcerer :wizard}, :illithid.character.spell/description "<p>A stroke of lightning forming a line 100 feet long and 5 feet wide blasts out from you in a direction you choose. Each creature in the line must make a dexterity saving throw. A creature takes 8d6 lightning damage on a failed save, or half as much damage on a successful one.</p><p>The lightning ignites flammable objects in the area that aren’t being worn or carried.</p>", :id :lightning-bolt, :illithid.character.spell/range "Self", :illithid.character.spell/school :school/evocation}