#:illithid.character.spell{:description "Describe or name a specific kind of beast or plant. Concentrating on the voice of nature in your surroundings, you learn the direction and distance to the closest creature or plant of that kind within 5 miles, if any are present.", :material-component "A bit of fur from a bloodhound.", :ritual? true, :school :school/divination, :name "Locate Animals or Plants", :duration "Instantaneous", :level 2, :components #{:M :V :S}, :id :locate-animals-or-plants, :casting-time "1 action", :classes #{:druid :ranger :ritual-caster :bard}, :range "Self"}