#:illithid.character.spell{:description "You touch a creature. The target’s speed increases by 10 feet until the spell ends.", :material-component "A pinch of dirt.", :ritual? false, :school :school/transmutation, :name "Longstrider", :duration "1 hour", :level 1, :components #{:M :V :S}, :id :longstrider, :casting-time "1 action", :classes #{:druid :ranger :wizard :bard}, :range "Touch"}