{:illithid.character.spell/material-component "Paper or leaf in the shape of a funnel.", :illithid.character.spell/level 5, :illithid.character.spell/name "Maelstrom", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid}, :illithid.character.spell/description "<p>A mass of 5-foot-deep water appears and swirls in a 30-foot radius centered on a point you can see within range. The point must be on ground or in a body of water. Until the spell ends, that area is difficult terrain, and any creature that starts its turn there must succeed on a Strength saving throw or take 6d6 bludgeoning damage and be pulled 10 feet toward the center.</p>", :id :maelstrom, :illithid.character.spell/range "120 feet", :illithid.character.spell/school :school/evocation}