{:illithid.character.spell/material-component"A piece of cured leather.", :illithid.character.spell/level 1, :illithid.character.spell/name"Mage Armor", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard}, :illithid.character.spell/description"You touch a willing creature who isn’t wearing armor, and a protective magical force surrounds it until the spell ends. The target’s base AC becomes 13 + its Dexterity modifier. The spell ends if the target dons armor or if you dismiss the spell as an action.", :id :mage-armor, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/abjuration}
