{:illithid.character.spell/material-component nil, :illithid.character.spell/level 2, :illithid.character.spell/name "Magic Weapon", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 bonus action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :wizard :paladin}, :illithid.character.spell/description "<p>You touch a nonmagical weapon. Until the spell ends, that weapon becomes a magic weapon with a +1 bonus to attack rolls and damage rolls.</p>", :id :magic-weapon, :illithid.character.spell/range "Touch", :illithid.character.spell/school :school/transmutation}