#:illithid.character.spell{:description "You touch a nonmagical weapon. Until the spell ends, that weapon becomes a magic weapon with a +1 bonus to attack rolls and damage rolls.", :material-component nil, :ritual? false, :school :school/transmutation, :name "Magic Weapon", :duration "Up to 1 hour", :level 2, :components #{:V :S}, :id :magic-weapon, :casting-time "1 bonus action", :classes #{:cleric :wizard :paladin}, :range "Touch"}