#:illithid.character.spell{:description "You create three glowing darts of magical force. Each dart hits a creature of your choice that you can see within range. A dart deals 1d4 + 1 force damage to its target. The darts all strike simultaneously, and you can direct them to hit one creature or several.", :material-component nil, :ritual? false, :school :school/evocation, :name "Magic Missile", :duration "Instantaneous", :level 1, :components #{:V :S}, :id :magic-missile, :casting-time "1 action", :classes #{:sorcerer :wizard}, :range "120 feet"}
