{:illithid.character.spell/material-component nil, :illithid.character.spell/level 9, :illithid.character.spell/name"Mass Heal", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric}, :illithid.character.spell/description"A flood of healing energy flows from you into injured creatures around you. You restore up to 700 hit points, divided as you choose among any number of creatures that you can see within range. Creatures healed by this spell are also cured of all diseases and any effect making them blinded or deafened. This spell has no effect on undead or constructs.", :id :mass-heal, :illithid.character.spell/range"60 feet", :illithid.character.spell/school :school/conjuration}
