#:illithid.character.spell{:description "As you call out words of restoration, up to six creatures of your choice that you can see within range regain hit points equal to 1d4 + your spellcasting ability modifier. This spell has no effect on undead or constructs.", :material-component nil, :ritual? false, :school :school/evocation, :name "Mass Healing Word", :duration "Instantaneous", :level 3, :components #{:V}, :id :mass-healing-word, :casting-time "1 bonus action", :classes #{:cleric}, :range "60 feet"}