#:illithid.character.spell{:description "You banish a creature that you can see within range into a labyrinthine demiplane. The target remains there for the duration or until it escapes the maze.\n\nThe target can use its action to attempt to escape. When it does so, it makes a DC 20 Intelligence check. If it succeeds, it escapes, and the spell ends (a minotaur or goristro demon automatically succeeds).\n\nWhen the spell ends, the target reappears in the space it left or, if that space is occupied, in the nearest unoccupied space.", :material-component nil, :ritual? false, :school :school/conjuration, :name "Maze", :duration "Up to 10 minutes", :level 8, :components #{:V :S}, :id :maze, :casting-time "1 action", :classes #{:wizard}, :range "60 feet"}