{:illithid.character.spell/material-component"Powdered rhubarb leaf and an adder’s stomach.", :illithid.character.spell/level 2, :illithid.character.spell/name"Melf's Acid Arrow", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid :wizard}, :illithid.character.spell/description"A shimmering green arrow streaks toward a target within range and bursts in a spray of acid. Make a ranged spell attack against the target. On a hit, the target takes 4d4 acid damage immediately and 2d4 acid damage at the end of its next turn. On a miss, the arrow splashes the target with acid for half as much of the initial damage and no damage at the end of its next turn.", :id :melfs-acid-arrow, :illithid.character.spell/range"90 feet", :illithid.character.spell/school :school/evocation}
