#:illithid.character.spell{:description "This spell repairs a single break or tear in an object you touch, such as a broken key, a torn cloak, or a leaking wineskin. As long as the break or tear is no longer than 1 foot in any dimension, you mend it, leaving no trace of the former damage.\n\nThis spell can physically repair a magic item or construct, but the spell can’t restore magic to such an object.", :material-component "Two lodestones.", :ritual? false, :school :school/transmutation, :name "Mending", :duration "Instantaneous", :level 0, :components #{:M :V :S}, :id :mending, :casting-time "1 minute", :classes #{:cleric :druid :sorcerer :wizard :bard}, :range "Touch"}