{:illithid.character.spell/material-component "Two lodestones.", :illithid.character.spell/level 0, :illithid.character.spell/name "Mending", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time "1 minute", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :sorcerer :wizard :bard}, :illithid.character.spell/description "<p>This spell repairs a single break or tear in an object you touch, such as a broken key, a torn cloak, or a leaking wineskin. As long as the break or tear is no longer than 1 foot in any dimension, you mend it, leaving no trace of the former damage.</p><p>This spell can physically repair a magic item or construct, but the spell can’t restore magic to such an object.</p>", :id :mending, :illithid.character.spell/range "Touch", :illithid.character.spell/school :school/transmutation}