{:illithid.character.spell/material-component"A short piece of copper wire.", :illithid.character.spell/level 0, :illithid.character.spell/name"Message", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard :bard}, :illithid.character.spell/description"You point your finger toward a creature within range and whisper a message. The target (and only the target) hears the message and can reply in a whisper that only you can hear.

You can cast this spell through solid objects if you are familiar with the target and know it is beyond the barrier. Magical silence, 1 foot of stone, 1 inch of common metal, a thin sheet of lead, or 3 feet of wood blocks the spell. The spell doesn’t have to follow a straight line and can travel freely around corners or through openings.", :id :message, :illithid.character.spell/range"120 feet", :illithid.character.spell/school :school/transmutation}
