{:illithid.character.spell/material-component nil, :illithid.character.spell/level 8, :illithid.character.spell/name"Mind Blank", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:wizard :bard}, :illithid.character.spell/description"Until the spell ends, one willing creature you touch is immune to psychic damage, any effect that would sense its emotions or read its thoughts, divination spells, and the charmed condition. The spell even foils wish spells and spells or effects of similar power used to affect the target’s mind or to gain information about the target.", :id :mind-blank, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/abjuration}
