#:illithid.character.spell{:description "Briefly surrounded by silvery mist, you teleport up to 30 feet to an unoccupied space that you can see.", :material-component nil, :ritual? false, :school :school/conjuration, :name "Misty Step", :duration "Instantaneous", :level 2, :components #{:V}, :id :misty-step, :casting-time "1 bonus action", :classes #{:druid :sorcerer :wizard :warlock :paladin}, :range "Self"}