#:illithid.character.spell{:description "You create a sword-shaped plane of force that hovers within range. It lasts for the duration.\n\nWhen the sword appears, you make a melee spell attack against a target of your choice within 5 feet of the sword. On a hit, the target takes 3d10 force damage. Until the spell ends, you can use a bonus action on each of your turns to move the sword up to 20 feet to a spot you can see and repeat this attack against the same target or a different one.", :material-component "A miniature platinum sword with a grip and pommel of copper and zinc, worth 250 gp.", :ritual? false, :school :school/evocation, :name "Mordenkainen's Sword", :duration "Up to 1 minute", :level 7, :components #{:M :V :S}, :id :mordenkainens-sword, :casting-time "1 action", :classes #{:wizard :bard}, :range "60 feet"}