#:illithid.character.spell{:description "Choose one creature that you can see within range. The target begins a comic dance in place: shuffling, tapping its feet, and capering for the duration. Creatures that can’t be charmed are immune to this spell.\n\nA dancing creature must use all its movement to dance without leaving its space and has disadvantage on dexterity saving throws and attack rolls. While the target is affected by this spell, other creatures have advantage on attack rolls against it. As an action, a dancing creature makes a wisdom saving throw to regain control of itself. On a successful save, the spell ends.", :material-component nil, :ritual? false, :school :school/enchantment, :name "Otto's Irresistible Dance", :duration "Up to 1 minute", :level 6, :components #{:V}, :id :ottos-irresistible-dance, :casting-time "1 action", :classes #{:wizard :bard}, :range "30 feet"}