#:illithid.character.spell{:description "A veil of shadows and silence radiates from you, masking you and your companions from detection. For the duration, each creature you choose within 30 feet of you (including you) has a +10 bonus to Dexterity (Stealth) checks and can’t be tracked except by magical means. A creature that receives this bonus leaves behind no tracks or other traces of its passage.", :material-component "Ashes from a burned leaf of mistletoe and a sprig of spruce.", :ritual? false, :school :school/abjuration, :name "Pass without Trace", :duration "Up to 1 hour", :level 2, :components #{:M :V :S}, :id :pass-without-trace, :casting-time "1 action", :classes #{:cleric :druid :ranger}, :range "Self"}