{:illithid.character.spell/material-component nil, :illithid.character.spell/level 0, :illithid.character.spell/name"Poison Spray", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard :warlock}, :illithid.character.spell/description"You extend your hand toward a creature you can see within range and project a puff of noxious gas from your palm. The creature must succeed on a constitution saving throw or take 1d12 poison damage.

This spell’s damage increases by 1d12 when you reach 5th level (2d12), 11th level (3d12), and 17th level (4d12).", :id :poison-spray, :illithid.character.spell/range"10 feet", :illithid.character.spell/school :school/conjuration}
