{:illithid.character.spell/material-component nil, :illithid.character.spell/level 8, :illithid.character.spell/name "Power Word Stun", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard :warlock :bard}, :illithid.character.spell/description "<p>You speak a word of power that can overwhelm the mind of one creature you can see within range, leaving it dumbfounded. If the target has 150 hit points or fewer, it is stunned. Otherwise, the spell has no effect.</p><p>The stunned target must make a constitution saving throw at the end of each of its turns. On a successful save, this stunning effect ends.</p>", :id :power-word-stun, :illithid.character.spell/range "60 feet", :illithid.character.spell/school :school/enchantment}