{:illithid.character.spell/material-component nil, :illithid.character.spell/level 9, :illithid.character.spell/name"Power Word Heal", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:bard}, :illithid.character.spell/description"A wave of healing energy washes over the creature you touch. The target regains all its hit points. If the creature is charmed, frightened, paralyzed, or stunned, the condition ends. If the creature is prone, it can use its reaction to stand up. This spell has no effect on undead or constructs.", :id :power-word-heal, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/evocation}
