#:illithid.character.spell{:description "You speak a word of power that can overwhelm the mind of one creature you can see within range, leaving it dumbfounded. If the target has 150 hit points or fewer, it is stunned. Otherwise, the spell has no effect.\n\nThe stunned target must make a constitution saving throw at the end of each of its turns. On a successful save, this stunning effect ends.", :material-component nil, :ritual? false, :school :school/enchantment, :name "Power Word Stun", :duration "Instantaneous", :level 8, :components #{:V}, :id :power-word-stun, :casting-time "1 action", :classes #{:sorcerer :wizard :warlock :bard}, :range "60 feet"}