{:illithid.character.spell/material-component nil, :illithid.character.spell/level 2, :illithid.character.spell/name "Prayer of Healing", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time "10 minutes", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric}, :illithid.character.spell/description "<p>Up to six creatures of your choice that you can see within range each regain hit points equal to 2d8 + your spellcasting ability modifier. This spell has no effect on undead or constructs.</p>", :id :prayer-of-healing, :illithid.character.spell/range "30 feet", :illithid.character.spell/school :school/evocation}