{:illithid.character.spell/material-component nil, :illithid.character.spell/level 6, :illithid.character.spell/name"Primordial Ward", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid}, :illithid.character.spell/description"You have resistance to acid, cold, fire, lightning, and thunder damage for the spell's duration.

When you take damage of one of those types, you can use your reaction to gain immunity to that type of damage, including against the triggering damage. If you do so, the resistances end, and you have the immunity until the end of your next turn, at which time the spell ends.", :id :primordial-ward, :illithid.character.spell/range"Self", :illithid.character.spell/school :school/abjuration}
