{:illithid.character.spell/material-component nil, :illithid.character.spell/level 2, :illithid.character.spell/name"Protection from Poison", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :ranger :paladin}, :illithid.character.spell/description"You touch a creature. If it is poisoned, you neutralize the poison. If more than one poison afflicts the target, you neutralize one poison that you know is present, or you neutralize one at random.

For the duration, the target has advantage on saving throws against being poisoned, and it has resistance to poison damage.", :id :protection-from-poison, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/abjuration}
