#:illithid.character.spell{:description "You touch a creature. If it is poisoned, you neutralize the poison. If more than one poison afflicts the target, you neutralize one poison that you know is present, or you neutralize one at random.\n\nFor the duration, the target has advantage on saving throws against being poisoned, and it has resistance to poison damage.", :material-component nil, :ritual? false, :school :school/abjuration, :name "Protection from Poison", :duration "1 hour", :level 2, :components #{:V :S}, :id :protection-from-poison, :casting-time "1 action", :classes #{:cleric :druid :ranger :paladin}, :range "Touch"}