#:illithid.character.spell{:description "For the duration, the willing creature you touch has resistance to one damage type of your choice: acid, cold, fire, lightning, or thunder.", :material-component nil, :ritual? false, :school :school/abjuration, :name "Protection from Energy", :duration "Up to 1 hour", :level 3, :components #{:V :S}, :id :protection-from-energy, :casting-time "1 action", :classes #{:cleric :druid :ranger :sorcerer :wizard :paladin}, :range "Touch"}