{:illithid.character.spell/material-component nil, :illithid.character.spell/level 3, :illithid.character.spell/name "Protection from Energy", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :ranger :sorcerer :wizard :paladin}, :illithid.character.spell/description "<p>For the duration, the willing creature you touch has resistance to one damage type of your choice: acid, cold, fire, lightning, or thunder.</p>", :id :protection-from-energy, :illithid.character.spell/range "Touch", :illithid.character.spell/school :school/abjuration}