#:illithid.character.spell{:description "All nonmagical food and drink within a 5-foot radius sphere centered on a point of your choice within range is purified and rendered free of poison and disease.", :material-component nil, :ritual? true, :school :school/transmutation, :name "Purify Food and Drink", :duration "Instantaneous", :level 1, :components #{:V :S}, :id :purify-food-and-drink, :casting-time "1 action", :classes #{:cleric :druid :ritual-caster :paladin}, :range "10 feet"}