{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name"Purify Food and Drink", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual true, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :ritual-caster :paladin}, :illithid.character.spell/description"All nonmagical food and drink within a 5-foot radius sphere centered on a point of your choice within range is purified and rendered free of poison and disease.", :id :purify-food-and-drink, :illithid.character.spell/range"10 feet", :illithid.character.spell/school :school/transmutation}
