#:illithid.character.spell{:description "You forge a telepathic link among up to eight willing creatures of your choice within range, psychically linking each creature to all the others for the duration. Creatures with Intelligence scores of 2 or less aren’t affected by this spell.\n\nUntil the spell ends, the targets can communicate telepathically through the bond whether or not they have a common language. The communication is possible over any distance, though it can’t extend to other planes of existence.", :material-component "Pieces of eggshell from two different kinds of creatures.", :ritual? true, :school :school/divination, :name "Rary's Telepathic Bond", :duration "1 hour", :level 5, :components #{:M :V :S}, :id :rarys-telepathic-bond, :casting-time "1 action", :classes #{:ritual-caster :wizard}, :range "30 feet"}