{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name"Ray of Sickness", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard}, :illithid.character.spell/description"A ray of sickening greenish energy lashes out toward a creature within range. Make a ranged spell attack against the target. On a hit, the target takes 2d8 poison damage and must make a constitution saving throw. On a failed save, it is also poisoned until the end of your next turn.", :id :ray-of-sickness, :illithid.character.spell/range"60 feet", :illithid.character.spell/school :school/necromancy}
