#:illithid.character.spell{:description "At your touch, all curses affecting one creature or object end. If the object is a cursed magic item, its curse remains, but the spell breaks its owner’s attunement to the object so it can be removed or discarded.", :material-component nil, :ritual? false, :school :school/abjuration, :name "Remove Curse", :duration "Instantaneous", :level 3, :components #{:V :S}, :id :remove-curse, :casting-time "1 action", :classes #{:cleric :wizard :warlock :paladin}, :range "Touch"}