{:illithid.character.spell/material-component nil, :illithid.character.spell/level 3, :illithid.character.spell/name "Remove Curse", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :wizard :warlock :paladin}, :illithid.character.spell/description "<p>At your touch, all curses affecting one creature or object end. If the object is a cursed magic item, its curse remains, but the spell breaks its owner’s attunement to the object so it can be removed or discarded.</p>", :id :remove-curse, :illithid.character.spell/range "Touch", :illithid.character.spell/school :school/abjuration}