#:illithid.character.spell{:description "You touch one willing creature. Once before the spell ends, the target can roll a d4 and add the number rolled to one saving throw of its choice. It can roll the die before or after making the saving throw. The spell then ends.", :material-component "A miniature cloak.", :ritual? false, :school :school/abjuration, :name "Resistance", :duration "Up to 1 minute", :level 0, :components #{:M :V :S}, :id :resistance, :casting-time "1 action", :classes #{:cleric :druid}, :range "Touch"}