#:illithid.character.spell{:description "You touch a creature that has died within the last minute. That creature returns to life with 1 hit point. This spell can’t return to life a creature that has died of old age, nor can it restore any missing body parts.", :material-component "Diamonds worth 300gp, which the spell consumes.", :ritual? false, :school :school/conjuration, :name "Revivify", :duration "Instantaneous", :level 3, :components #{:M :V :S}, :id :revivify, :casting-time "1 action", :classes #{:cleric :paladin}, :range "Touch"}