{:illithid.character.spell/material-component"Diamonds worth 300gp, which the spell consumes.", :illithid.character.spell/level 3, :illithid.character.spell/name"Revivify", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :paladin}, :illithid.character.spell/description"You touch a creature that has died within the last minute. That creature returns to life with 1 hit point. This spell can’t return to life a creature that has died of old age, nor can it restore any missing body parts.", :id :revivify, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/conjuration}
