#:illithid.character.spell{:description "Flame-like radiance descends on a creature that you can see within range. The target must succeed on a dexterity saving throw or take 1d8 radiant damage. The target gains no benefit from cover for this saving throw.\n\nThe spell’s damage increases by 1d8 when you reach 5th level (2d8), 11th level (3d8), and 17th level (4d8).", :material-component nil, :ritual? false, :school :school/evocation, :name "Sacred Flame", :duration "Instantaneous", :level 0, :components #{:V :S}, :id :sacred-flame, :casting-time "1 action", :classes #{:cleric}, :range "60 feet"}