{:illithid.character.spell/material-component nil, :illithid.character.spell/level 2, :illithid.character.spell/name"Scorching Ray", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :sorcerer :wizard :warlock}, :illithid.character.spell/description"You generate three rays of fire and will throw to targets in the range of the spell. You can project them on one or more targets.

Perform a remote attack spell for each department. If it hits, the target takes 2d6 fire damage.", :id :scorching-ray, :illithid.character.spell/range"120 feet", :illithid.character.spell/school :school/evocation}
