#:illithid.character.spell{:description "You generate three rays of fire and will throw to targets in the range of the spell. You can project them on one or more targets.\n\nPerform a remote attack spell for each department. If it hits, the target takes 2d6 fire damage.", :material-component nil, :ritual? false, :school :school/evocation, :name "Scorching Ray", :duration "Instantaneous", :level 2, :components #{:V :S}, :id :scorching-ray, :casting-time "1 action", :classes #{:cleric :sorcerer :wizard :warlock}, :range "120 feet"}