{:illithid.character.spell/material-component "A dash of talc and a small amount of silver powder.", :illithid.character.spell/level 2, :illithid.character.spell/name "See Invisibility", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard :bard}, :illithid.character.spell/description "<p>For the duration of the spell, you see invisible creatures and objects as if they were visible, and you can see through Ethereal. The ethereal objects and creatures appear ghostly translucent.</p>", :id :see-invisibility, :illithid.character.spell/range "Self", :illithid.character.spell/school :school/divination}