#:illithid.character.spell{:description "For the duration of the spell, you see invisible creatures and objects as if they were visible, and you can see through Ethereal. The ethereal objects and creatures appear ghostly translucent.", :material-component "A dash of talc and a small amount of silver powder.", :ritual? false, :school :school/divination, :name "See Invisibility", :duration "1 hour", :level 2, :components #{:M :V :S}, :id :see-invisibility, :casting-time "1 action", :classes #{:sorcerer :wizard :bard}, :range "Self"}