#:illithid.character.spell{:description "An invisible barrier of magical force appears and protects you. Until the start of your next turn, you have a +5 bonus to AC, including against the triggering attack, and you take no damage from magic missile.", :material-component nil, :ritual? false, :school :school/abjuration, :name "Shield", :duration "1 round", :level 1, :components #{:V :S}, :id :shield, :casting-time "1 reaction", :classes #{:sorcerer :wizard}, :range "Self"}