{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name "Shield", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 reaction", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard}, :illithid.character.spell/description "<p>An invisible barrier of magical force appears and protects you. Until the start of your next turn, you have a +5 bonus to AC, including against the triggering attack, and you take no damage from magic missile.</p>", :id :shield, :illithid.character.spell/range "Self", :illithid.character.spell/school :school/abjuration}