#:illithid.character.spell{:description "A shimmering field appears and surrounds a creature of your choice within range, granting it a +2 bonus to AC for the duration.", :material-component "A small parchment with a bit of holy text written on it.", :ritual? false, :school :school/abjuration, :name "Shield of Faith", :duration "Up to 10 minutes", :level 1, :components #{:M :V :S}, :id :shield-of-faith, :casting-time "1 bonus action", :classes #{:cleric :paladin}, :range "60 feet"}