#:illithid.character.spell{:description "For the duration, no sound can be created within or pass through a 20-foot-radius sphere centered on a point you choose within range. Any creature or object entirely inside the sphere is immune to thunder damage, and creatures are deafened while entirely inside it.\n\nCasting a spell that includes a verbal component is impossible there.", :material-component nil, :ritual? true, :school :school/illusion, :name "Silence", :duration "Up to 10 minutes", :level 2, :components #{:V :S}, :id :silence, :casting-time "1 action", :classes #{:cleric :druid :ranger :ritual-caster :bard}, :range "120 feet"}