{:illithid.character.spell/material-component nil, :illithid.character.spell/level 2, :illithid.character.spell/name "Silence", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual true, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :druid :ranger :ritual caster :bard}, :illithid.character.spell/description "<p>For the duration, no sound can be created within or pass through a 20-foot-radius sphere centered on a point you choose within range. Any creature or object entirely inside the sphere is immune to thunder damage, and creatures are deafened while entirely inside it.</p><p>Casting a spell that includes a verbal component is impossible there.</p>", :id :silence, :illithid.character.spell/range "120 feet", :illithid.character.spell/school :school/illusion}