{:illithid.character.spell/material-component "A piece of ice or a small white rock chip.", :illithid.character.spell/level 2, :illithid.character.spell/name "Snilloc's Snowball Swarm", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard}, :illithid.character.spell/description "<p>A flurry of magic snowballs erupts from a point you choose within range. Each creature in a 5-foot-radius sphere centered on that point must make a Dexterity saving throw. A creature takes 3d6 cold damage on a failed save, or half as much damage on a successful one.</p>", :id :snillocs-snowball-swarm, :illithid.character.spell/range "90 feet", :illithid.character.spell/school :school/evocation}