#:illithid.character.spell{:description "A flurry of magic snowballs erupts from a point you choose within range. Each creature in a 5-foot-radius sphere centered on that point must make a Dexterity saving throw. A creature takes 3d6 cold damage on a failed save, or half as much damage on a successful one.", :material-component "A piece of ice or a small white rock chip.", :ritual? false, :school :school/evocation, :name "Snilloc's Snowball Swarm", :duration "Up to 1 hour", :level 2, :components #{:M :V :S}, :id :snillocs-snowball-swarm, :casting-time "1 action", :classes #{:sorcerer :wizard}, :range "90 feet"}