{:illithid.character.spell/material-component nil, :illithid.character.spell/level 0, :illithid.character.spell/name"Spare the Dying", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric}, :illithid.character.spell/description"You touch a living creature that has 0 hit points. The creature becomes stable. This spell has no effect on undead or constructs.", :id :spare-the-dying, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/necromancy}
