#:illithid.character.spell{:description "You create a floating, spectral weapon within range that lasts for the duration or until you cast this spell again. When you cast the spell, you can make a melee spell attack against a creature within 5 feet of the weapon. On a hit, the target takes force damage equal to 1d8 + your spellcasting ability modifier.\n\nAs a bonus action on your turn, you can move the weapon up to 20 feet and repeat the attack against a creature within 5 feet of it.\n\nThe weapon can take whatever form you choose. Clerics of deities who are associated with a particular weapon (as St. Cuthbert is known for his mace and Thor for his hammer) make this spell’s effect resemble that weapon.", :material-component nil, :ritual? false, :school :school/evocation, :name "Spiritual Weapon", :duration "1 minute", :level 2, :components #{:V :S}, :id :spiritual-weapon, :casting-time "1 bonus action", :classes #{:cleric}, :range "60 feet"}