{:illithid.character.spell/material-component nil, :illithid.character.spell/level 4, :illithid.character.spell/name"Staggering Smite", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time"1 bonus action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:paladin}, :illithid.character.spell/description"The next time you hit a creature with a melee weapon attack during this spell’s duration, your weapon pierces both body and mind, and the attack deals an extra 4d6 psychic damage to the target. The target must make a wisdom saving throw. On a failed save, it has disadvantage on attack rolls and ability checks, and can't take reactions, until the end of its next turn.", :id :staggering-smite, :illithid.character.spell/range"Self", :illithid.character.spell/school :school/evocation}
