#:illithid.character.spell{:description "You create a momentary circle of spectral blades that sweep around you. Each creature within range, other than you, must succeed on a Dexterity saving throw or take 1d6 force damage.\n\nThis spell's damage increases by 1d6 when you reach 5th level (2d6), 11th level (3d6), and 17th level (4d6).", :material-component nil, :ritual? false, :school :school/conjuration, :name "Sword Burst", :duration "Instantaneous", :level 0, :components #{:V}, :id :sword-burst, :casting-time "1 action", :classes #{:sorcerer :wizard :warlock}, :range "5 feet"}