{:illithid.character.spell/material-component"Tiny tarts and a feather that is waved in the air.", :illithid.character.spell/level 1, :illithid.character.spell/name"Tasha's Hideous Laughter", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:wizard :warlock :bard}, :illithid.character.spell/description"A creature of your choice that you can see within range perceives everything as hilariously funny and falls into fits of laughter if this spell affects it. The target must succeed on a wisdom saving throw or fall prone, becoming incapacitated and unable to stand up for the duration. A creature with an Intelligence score of 4 or less isn’t affected.

At the end of each of its turns, and each time it takes damage, the target can make another wisdom saving throw. The target had advantage on the saving throw if it’s triggered by damage. On a success, the spell ends.", :id :tashas-hideous-laughter, :illithid.character.spell/range"30 feet", :illithid.character.spell/school :school/enchantment}
