{:illithid.character.spell/material-component nil, :illithid.character.spell/level 0, :illithid.character.spell/name"Thunderclap", :illithid.character.spell/components #{:S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid :sorcerer :wizard :warlock :bard}, :illithid.character.spell/description"You create a burst of thunderous sound, which can be heard 100 feet away. Each creature other than you within 5 feet of you must make a Constitution saving throw. On a failed save, the creature takes 1d6 thunder damage.

The spell's damage increases by 1d6 when you reach 5th level (2d6), 11th level (3d6), and 17th level (4d6).", :id :thunderclap, :illithid.character.spell/range"Self (5-foot radius)", :illithid.character.spell/school :school/evocation}
