{:illithid.character.spell/material-component"A small clay model of a ziggurat.", :illithid.character.spell/level 3, :illithid.character.spell/name"Tongues", :illithid.character.spell/components #{:M :V}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :sorcerer :wizard :warlock :bard}, :illithid.character.spell/description"This spell grants the creature you touch the ability to understand any spoken language it hears. Moreover, when the target speaks, any creature that knows at least one language and can hear the target understands what it says.", :id :tongues, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/divination}
