{:illithid.character.spell/material-component nil, :illithid.character.spell/level 6, :illithid.character.spell/name"Transport via Plants", :illithid.character.spell/components #{:V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:druid}, :illithid.character.spell/description"This spell creates a magical link between a Large or larger inanimate plant within range and another plant, at any distance, on the same plane of existence. You must have seen or touched the destination plant at least once before. For the duration, any creature can step into the target plant and exit from the destination plant by using 5 feet of movement.", :id :transport-via-plants, :illithid.character.spell/range"10 feet", :illithid.character.spell/school :school/conjuration}
