#:illithid.character.spell{:description "This spell name was added as an error and does not exist. Refer to the spell named \"imprisonment\" for information on what this spell was intended to be.", :material-component nil, :ritual? false, :school :school/conjuration, :name "Trap the Soul", :duration "Until dispelled", :level 8, :components #{:M :V :S}, :id :trap-the-soul, :casting-time "1 minute", :classes #{:wizard}, :range "30 feet"}