{:illithid.character.spell/material-component nil, :illithid.character.spell/level 0, :illithid.character.spell/name "True Strike", :illithid.character.spell/components #{:S}, :illithid.character.spell/casting_time "1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard :warlock :bard}, :illithid.character.spell/description "<p>You extend your hand and point a finger at a target in range. Your magic grants you a brief insight into the target’s defenses. On your next turn, you gain advantage on your first attack roll against the target, provided that this spell hasn’t ended.</p>", :id :true-strike, :illithid.character.spell/range "30 feet", :illithid.character.spell/school :school/divination}