{:illithid.character.spell/material-component"An ointment for the eyes that costs 25gp; is made from mushroom powder, saffron, and fat; and is consumed by the spell.", :illithid.character.spell/level 6, :illithid.character.spell/name"True Seeing", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:cleric :sorcerer :wizard :warlock :bard}, :illithid.character.spell/description"This spell gives the willing creature you touch the ability to see things as they actually are. For the duration, the creature has truesight, notices secret doors hidden by magic, and can see into the Ethereal Plane, all out to a range of 120 feet.", :id :true-seeing, :illithid.character.spell/range"Touch", :illithid.character.spell/school :school/divination}
