#:illithid.character.spell{:description "The touch of your shadow-wreathed hand can siphon life force from others to heal your wounds. Make a melee spell attack against a creature within your reach. On a hit, the target takes 3d6 necrotic damage, and you regain hit points equal to half the amount of necrotic damage dealt. Until the spell ends, you can make the attack again on each of your turns as an action.", :material-component nil, :ritual? false, :school :school/necromancy, :name "Vampiric Touch", :duration "Up to 1 minute", :level 3, :components #{:V :S}, :id :vampiric-touch, :casting-time "1 action", :classes #{:wizard :warlock}, :range "Self"}