{:illithid.character.spell/material-component nil, :illithid.character.spell/level 0, :illithid.character.spell/name"Vicious Mockery", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:bard}, :illithid.character.spell/description"You unleash a string of insults laced with subtle enchantments at a creature you can see within range. If the target can hear you (though it need not understand you), it must succeed on a wisdom saving throw or take 1d4 psychic damage and have disadvantage on the next attack roll it makes before the end of its next turn.

This spell’s damage increases by 1d4 when you reach 5th level (2d4), 11th level (3d4), and 17th level (4d4).", :id :vicious-mockery, :illithid.character.spell/range"60 feet", :illithid.character.spell/school :school/enchantment}
