{:illithid.character.spell/material-component"A drop of a giant slug bile.", :illithid.character.spell/level 4, :illithid.character.spell/name"Vitriolic Sphere", :illithid.character.spell/components #{:M :V :S}, :illithid.character.spell/casting_time"1 action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:sorcerer :wizard}, :illithid.character.spell/description"You point at a place within range, and a glowing 1-foot ball of emerald acid streaks there and explodes in a 20-foot radius. Each creature in that area must make a Dexterity saving throw. On a failed save, a creature takes 10d4 acid damage and 5d4 acid damage at the end of its next turn. On a successful save, a creature takes half the initial damage and no damage at the end of its next turn.", :id :vitriolic-sphere, :illithid.character.spell/range"150 feet", :illithid.character.spell/school :school/evocation}
