#:illithid.character.spell{:description "You point at a place within range, and a glowing 1-foot ball of emerald acid streaks there and explodes in a 20-foot radius. Each creature in that area must make a Dexterity saving throw. On a failed save, a creature takes 10d4 acid damage and 5d4 acid damage at the end of its next turn. On a successful save, a creature takes half the initial damage and no damage at the end of its next turn.", :material-component "A drop of a giant slug bile.", :ritual? false, :school :school/evocation, :name "Vitriolic Sphere", :duration "Instantaneous", :level 4, :components #{:M :V :S}, :id :vitriolic-sphere, :casting-time "1 action", :classes #{:sorcerer :wizard}, :range "150 feet"}