#:illithid.character.spell{:description "A strong wind (20 miles per hour) blows around you in a 10-foot radius and moves with you, remaining centered on you. The wind lasts for the spell's duration. The wind has the following effects:\n\n- It deafens you and other creatures in its area.\n\n- It extinguishes unprotected flames in its area that are torch-sized or smaller.\n\n- The area is difficult terrain for creatures other than you.\n\n- The attack rolls of ranged weapon attacks have disadvantage if they pass in or out of the wind.\n\n- It hedges out vapor, gas, and fog that can be dispersed by strong wind.", :material-component nil, :ritual? false, :school :school/evocation, :name "Warding Wind", :duration "Up to 10 minutes", :level 2, :components #{:V}, :id :warding-wind, :casting-time "1 action", :classes #{:druid :sorcerer :bard}, :range "Self"}