#:illithid.character.spell{:description "This spell gives a maximum of ten willing creatures within range and you can see, the ability to breathe underwater until the end of its term. Affected creatures also retain their normal breathing pattern.", :material-component "A short piece of reed or straw.", :ritual? true, :school :school/transmutation, :name "Water Breathing", :duration "24 hours", :level 3, :components #{:M :V :S}, :id :water-breathing, :casting-time "1 action", :classes #{:druid :ranger :sorcerer :ritual-caster :wizard}, :range "30 feet"}