{:illithid.character.spell/material-component nil, :illithid.character.spell/level 1, :illithid.character.spell/name "Wrathful Smite", :illithid.character.spell/components #{:V}, :illithid.character.spell/casting_time "1 bonus action", :illithid.character.spell/ritual false, :illithid.character.spell/duration nil, :illithid.character.spell/classes #{:paladin}, :illithid.character.spell/description "<p>The next time you hit with a melee weapon attack during this spell’s duration, your attack deals an extra 1d6 psychic damage. Additionally, if the target is a creature, it must make a wisdom saving throw or be frightened of you until the spell ends. As an action, the creature can make a Wisdom check against your spell save DC to steel its resolve and end this spell.</p>", :id :wrathful-smite, :illithid.character.spell/range "Self", :illithid.character.spell/school :school/evocation}