#:illithid.character.spell{:description "The next time you hit with a melee weapon attack during this spell’s duration, your attack deals an extra 1d6 psychic damage. Additionally, if the target is a creature, it must make a wisdom saving throw or be frightened of you until the spell ends. As an action, the creature can make a Wisdom check against your spell save DC to steel its resolve and end this spell.", :material-component nil, :ritual? false, :school :school/evocation, :name "Wrathful Smite", :duration "Up to 1 minute", :level 1, :components #{:V}, :id :wrathful-smite, :casting-time "1 bonus action", :classes #{:paladin}, :range "Self"}